@font-face {
    font-family: "SegoeUi";
    src: url('../font/SEGOEUI.TTF') format('truetype');
}

$h2-font-size: 36px;
$h5-font-size: 26px;
$title-margin: 0 0 15px;
$title-font-weight: 400;

body {
    font-size: 16px;
    font-family: "SegoeUi", serif;

    @media screen and (max-width: 767px) {
        font-size: 14px;
    }
}

h2, h3, h5 {
    font-weight: $title-font-weight;
    margin: $title-margin;
}

h2 {
    font-size: $h2-font-size;

    @media screen and (max-width: 767px) {
        font-size: 26px;
    }
}

h5 {
    font-size: $h5-font-size;

    @media screen and (max-width: 767px) {
        font-size: 20px;
    }
}

.breadcrumb {
    padding: 15px 0;
    margin: 0;
    background: transparent;
}

.main-title-block {
    position: relative;
    padding: 100px 0;
    margin: 0 0 50px;
    background: url(../images/title-bg.jpg) no-repeat;
    background-size: cover;

    @media screen and (max-width: 767px) {
        padding: 50px 0;
        margin: 0 0 25px;
    }

    &:before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .4);
    }

    .container {
        position: relative;
        z-index: 1;
        color: #fff;
    }

    h2 {
        margin: 0;

        @media screen and (max-width: 767px) {
            margin: 0 0 10px;
        }
    }

    .sub-title {
        font-size: 28px;

        @media screen and (max-width: 767px) {
            font-size: 20px;
        }
    }
}

.tip {
    margin: 0 0 50px;

    @media screen and (max-width: 767px) {
        margin: 0 0 30px;
    }

    &__image {
        position: relative;
        display: block;
        margin: 0 0 15px;
        border-radius: 0 20px;
        overflow: hidden;

        &:hover {
            &:before {
                opacity: 1;
                visibility: visible;
                height: 100%;
            }
        }

        &:before {
            position: absolute;
            content: '';
            left: 0;
            right: 0;
            bottom: 0;
            height: 0;
            background: rgba(0, 0, 0, .2);
            visibility: hidden;
            opacity: 0;
            transition: 0.5s ease all;
            z-index: 1;
        }
    }

    &__title-top {
        margin: 0 0 15px;

        h5 {
            margin: 0;
        }
    }

    &__link {
        &:hover {
            color: #60A607;
            text-decoration: none;
        }
    }

    &__autor {
        font-size: 15px;

        @media screen and (max-width: 767px) {
            font-size: 13px;
        }
    }
}